# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore dependencies
/node_modules
/.venv
/bower_components
/venv
/loads

# Ignore build output
/build
/dist

# Ignore logs and temporary files
/logs
/tmp

# Ignore IDE and editor specific files
/.vscode
/.idea
/.DS_Store

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore sensitive or private information
secrets.json
credentials.txt
.dlt/secrets.toml

# Ignore backup files
*.bak
*.swp
*.~lock.*

# Ignore generated documentation
/docs

# Ignore user-specific files
/user-config.json

# Ignore miscellaneous files
Thumbs.db
__pycache__

# DB Files
*.sqlite3
*.csv
sensor_test.json
/schemas/export